
<!--<section id="my-page">
    <p>My recipes count: </p>
    <div class="all-my-cards">
        <div class="card">
            <div class="img">
                <img src="/assets/catalog-img/card-1 copy.jpg" alt="loli pop">
            </div>
            <div class="info">
                <p>lollipop</p>
                <a class="btn" routerLink="/details">Details</a>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="/assets/catalog-img/card-2 copy.jpg" alt="loli pop">
            </div>
            <div class="info">
                <p>Donut with shake</p>
                <a class="btn" routerLink="/details">Details</a>
            </div>
        </div>
    </div>
    <h2>No recipes in database.</h2>
</section> -->
<section id="my-page">
    <p>My recipes count: {{ recipes.length }}</p>
    <div class="all-my-cards">
        <div class="card" *ngFor="let recipe of recipes">
            <div class="img">
                <img [src]="recipe.imageUrl" [alt]="recipe.themeName">
            </div>
            <div class="info">
                <p>{{ recipe.themeName }}</p>
                <a class="btn" [routerLink]="'/details/' + recipe._id">Details</a>
            </div>
        </div>
    </div>
    <h2 *ngIf="recipes.length === 0">No recipes in database.</h2>
</section>
