<section id="my-page">
    <p>My recipes count: </p>
    <div class="all-my-cards">
        <div class="card">
            <div class="img">
                <img src="/assets/catalog-img/card-1 copy.jpg" alt="loli pop">
            </div>
            <div class="info">
                <p>lollipop</p>
                <a class="btn" routerLink="/details">Details</a>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="/assets/catalog-img/card-2 copy.jpg" alt="loli pop">
            </div>
            <div class="info">
                <p>Donut with shake</p>
                <a class="btn" routerLink="/details">Details</a>
            </div>
        </div>
    </div>
    <h2>No recipes in database.</h2>
</section>
