<section id="gaby-page">
    <div class="content">
        <h1>Contact us</h1>
    </div>

    <h3>Opening</h3>
    <p>We are open from 10:00 am - 21:00 pm</p>

    <div class="contacts">

        <div class="col">
            <p><i class="fa-sharp fa-solid fa-phone"></i>0898 123 456</p>
            <p><i class="fa-sharp fa-solid fa-envelope"></i>gaby@abc.bg</p>
        </div>
        <div class="col">
            <p><i class="fa-brands fa-github"></i>Gabrantula Tsvetkova</p>
            <p><i class="fa-brands fa-facebook"></i>Gabrantula Tsvetkova</p>
        </div>
        <div class="col">
            <p><i class="fa-brands fa-linkedin"></i>Gabriela Tsvetkova</p>
            <p><i class="fa-brands fa-instagram"></i>Gabrantula Tsvetkova</p>
        </div>
    </div>
</section>
