@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
#login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background:linear-gradient(rgba(105,100,123,0.2),rgba(255,0,0,0.2)), url(/assets/login-register-img/background\ copy.jpg);
    background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 overflow: hidden;
}
#login-page .form {
     width: 500px;
     height: 540px; 
     border-radius: 20px;
     box-shadow: 5px 5px 5px rgb(158, 92, 126);
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     background-color: rgb(251, 243, 249);
    /* background-color: #fbfcda;*/
     margin-bottom: 10vh;
 }
 
 #login-page .form h2 {
    font-family: 'Courgette', cursive;
 font-size: 60px;
 color:  #50d7bc;
 text-shadow: 1px 1px 2px rgb(91, 134, 214);
 margin-bottom: 5px;
 margin-top: 10px;
 }
 #login-page .form p {
    font-family: 'Courgette', cursive;
    color:rgb(91, 134, 214);
    text-shadow: 1px 1px 2px #50d7bc;
     font-size: 35px;
     margin-bottom: 5px;
 }
 #login-page .form input {
     width: 330px;
     height: 40px;
     font-size: 20px;
     border-radius: 10px;
     box-sizing: border-box;
     padding: 15px;
    border: 2px solid  #50d7bc;
     
 }
 #login-page .form .message {
     font-size: 20px;
     margin-bottom: 50px;
     color: rgb(236, 49, 146);
     text-shadow: none;
 }
 #login-page .form .message a {
     text-decoration: none;
     color: rgb(91, 134, 214);
     margin-left: 10px;
     font-size: 25px;
 }
 #login-page .form .message a:hover{
    color: #50d7bc;
    text-shadow: 1px 1px 1px  #35a992;
 }
 #login-page .form .message {
     margin-top: 30px;
 }
 #login-page .form button {
    border-radius: 23px;
    background-image: linear-gradient(to right top, #d16ba5, #ec7e93, #f99887, #f9b687, #f3d495, #e7e29e, #daefae, #ccfbc2, #b5fcc9, #9cfcd4, #80fce1, #5ffbf1);
    color: rgb(91, 134, 214);
    border:0.5px solid rgb(67, 176, 198);
    padding: 10px 50px 10px 50px;
    text-transform: lowercase;
    font-size: 1.5rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    margin-top: 8%;
    /*font-family:Arial, Helvetica, sans-serif;*/
    font-family: 'Courgette', cursive;
    font-weight: bold;
 }
 #login-page .form button:hover {
    box-shadow: 2px 4px 10px rgb(236, 49, 146);
  border: 1px solid rgb(236, 49, 146);
  color: #50d7bc;
  text-shadow: 1px 1px 1px  #35a992;
    
 }

 /* errors  */

 #login-page .form-login .error {
    text-align: center;
    color: red;
    padding-top: 0;
    font-size: 18px;
    text-shadow: none;
    margin: 0;
    padding: 0;
  }

