<section id="login-page">
    <div class="form">
        <h2>Login</h2>
        <!-- <form class="form-login" *ngIf="!isLoggedIn" #form="ngForm" (ngSubmit)="login(form)"> -->
        <form class="form-login"  [formGroup]="form" (ngSubmit)="login()">
            <p>Email</p>
            <input 
               type="email" 
               name="email" 
               placeholder="email@example.com" 
               formControlName="email"
               
            />

            <!-- error -->
            <ng-container *ngIf="form.get('email')?.touched">
                <p class="error" *ngIf="form.get('email')?.errors?.['required']">
                  Email is required!
                </p>
             
              </ng-container>

              <p>Password</p>
              <input type="password" name="password" placeholder="password"  formControlName="password" />
  
              <ng-container *ngIf="form.get('password')?.touched">
                  <p
                    class="error"
                    *ngIf="form.get('password')?.errors?.['required']"
                  >
                    Password is required!
                  </p>
               
                </ng-container>

            <div>
                <button [disabled]="form.invalid" type="submit" >login</button>
            </div>
            <p class="message">Not registered? <a routerLink="/auth/register">Create an account</a></p>
        </form>
        <!-- <div *ngIf="isLoggedIn">
          <h3>Welcome again!</h3> 
         </div> -->
       
    </div>
    
</section>