<section id="edit-page">
    <div class="form">
        <form class="edit-form" [formGroup]="form" (ngSubmit)="saveEditHandler()" >
            <h2>Edit candy recipe</h2>

         <!-- <input type="hidden" name="_id" formControlName="_id" />-->    

            <p>Candy image</p>
            <input type="text" name="imageUrl" placeholder="Candy image" formControlName="imageUrl" />
            <ng-container *ngIf="form.get('imageUrl')?.touched">
                <p class="error" *ngIf="form.get('imageUrl')?.errors?.['required']">
                  Image is required!
                </p>
                <p class="error" *ngIf="form.get('imageUrl')?.hasError('appEditValidator')">

                    Invalid URL format!
                  </p>
                  
              </ng-container>

            <p>Title</p>
            <input type="text" name="title" placeholder="Title" formControlName="themeName" />
            <ng-container *ngIf="form.get('themeName')?.touched">
                <p class="error" *ngIf="form.get('themeName')?.errors?.['required']">
                  Title is required!
                </p>  
            </ng-container>

            <p>Description</p>
            <textarea name="description" placeholder="Description" formControlName="postText"></textarea>
            <ng-container *ngIf="form.get('postText')?.touched">
                <p class="error" *ngIf="form.get('postText')?.errors?.['required']">
                  Description is required!
                </p>
                <p class="error" *ngIf="form.get('postText')?.errors?.['minlength']">
                  Description length should not be less than 10!
                </p>
              </ng-container>

            <div>
                <button type="submit" [disabled]="form.invalid || isSubmitting" >Edit</button>
            </div>
        </form>
    </div>
</section> 
  <!--
<section id="edit-page">
    <div class="form">
        <form class="edit-form" *ngIf="formData" [formGroup]="testform" (ngSubmit)="updateRecipe(testform)">
            <h2>Edit candy recipe</h2>
            <input type="hidden" name="_id" formControlName="_id" value="{{formData._id}}">
            <p>Candy image</p>
            <input type="text" name="imageUrl" placeholder="Candy image" formControlName="imageUrl" value="{{testform.value.imageUrl}}" />
            <ng-container *ngIf="form.get('imageUrl')?.touched">
                <p class="error" *ngIf="form.get('imageUrl')?.errors?.['required']">
                  Image is required!
                </p>
              
 <p class="error" *ngIf="form.get('imageUrl')?.errors?.['appEditValidator']">
                  Image URL is not valid!
                </p>
               
               
              </ng-container>

            <p>Title</p>
            <input type="text" name="title" placeholder="Title" formControlName="themeName" value="{{testform.value.themeName}}" />
            <ng-container *ngIf="form.get('themeName')?.touched">
                <p class="error" *ngIf="form.get('themeName')?.errors?.['required']">
                  Title is required!
                </p>  
            </ng-container>

            <p>Description</p>
            <textarea name="description" placeholder="Description" formControlName="postText">{{testform.value.postText}}</textarea>
            <ng-container *ngIf="form.get('postText')?.touched">
                <p class="error" *ngIf="form.get('postText')?.errors?.['required']">
                  Description is required!
                </p>
                <p class="error" *ngIf="form.get('postText')?.errors?.['minlength']">
                  Description length should not be less than 10!
                </p>
              </ng-container>

            <div>
                <button type="submit">Edit</button>
            </div>
        </form>
    </div>
</section>
 -->