<header>
    <a id="logo" routerLink="/home">
        <img src="./assets/home-btn copy.jpg" alt="home-pic"></a>
    <nav>
        <div>
            <a routerLink="/catalog">Catalog</a>
        </div>
        <div id="user">
            <span>Welcome user</span>
            <a routerLink="/auth/create">Add Recipe</a>
            <a routerLink="/auth/my-page">My Recipes</a>
            <a id="logoutBtn" routerLink="javascript:void(0)">Logout</a>
        </div>
        <div id="guest">
            <a routerLink="/auth/login">Login</a>
            <a routerLink="/auth/register">Register</a>
        </div>
        <!-- 
        <div class="search-box">
            <button class="btn-search"><i class="fas fa-search" [ngClass]="btnClass">
                </i>
            </button>
            <input 
               type="text" 
               class="input-search" 
               placeholder="Type to Search..."
               [ngClass]="iptClass"
               (click)="btnClickHandler()"
                />
        </div>
        -->
        <div class="search-box">
            <form id="content">
              <input type="text" name="input" class="input lens" [ngClass]="iptClass" >
              <button type="reset" class="search"  [ngClass]="btnClass" (click)="btnClickHandler()"></button>
            </form>
            </div>


    </nav>
</header>
