<section id="catalog-page" *ngIf="!isLoading">
    <h1>All shared candy recipes</h1>

    <div class="card-container" >
        <div class="card" *ngFor="let theme of catalog">
            <div class="img">
                <img src="{{theme.imageUrl}}" alt="candy">
            </div>
            <div class="info">
                <p>{{theme.themeName }}</p>
                <a class="btn" [routerLink]="theme._id">Details</a>
            </div>
        </div>
        <!-- <div class="card">
            <div class="img">
                <img src="/assets/catalog-img/card-1 copy.jpg" alt="candy-1">
            </div>
            <div class="info">
                <p>Lollipop</p>
                <a class="btn" routerLink="/details">Details</a>
            </div>
            </div>
             <div class="card">
            <div class="img">
                <img src="/assets/catalog-img/card-2 copy.jpg" alt="candy-2">
            </div>
            <div class="info">
                <p>Donut with shake</p>
                <a class="btn" routerLink="/details">Details</a>
            </div>
        </div>
        <div class="card">
            <div class="img">
                <img src="/assets/catalog-img/card-3 copy.jpg" alt="candy-3">
            </div>
            <div class="info">
                <p>French macaron</p>
                <a class="btn" routerLink="/details">Details</a>
            </div>
        </div> -->
       
    </div>
    <h1 *ngIf="catalog.length === 0">No candy recipes in database.</h1>
</section>
