<section id="home-page">
<br />
<br />
    <app-slider [slider]="slider" />
    <br />
    <br />
    <br />
    <br />
    <div class="back">
        <h1>Making Life Sweeter!</h1>
        <h3>Eet More Sweets With Love!</h3>
        <h3>Share with us your favorite recipe</h3>
    </div>

    <div class="welcome">
        <h1>Welcome to our site!</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor, quas hic itaque natus aliquam nihil
            labore ullam minima perspiciatis consequatur eum assumenda, quia exercitationem eius est! Neque odio
            voluptatem rem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores facere iusto
            dignissimos nulla odit hic atque numquam rem sed, alias necessitatibus soluta, iure unde voluptatem
            quia nostrum quaerat, minus quasi!</p>
        <div>
            <a class="dashboard" routerLink="/themes">all categories</a>
        </div>
    </div>
</section>
