<section id="home-page">
    <div class="back">
        <h1>Making Life Sweeter!</h1>
        <h3>Eet More Sweets With Love!</h3>
        <!-- <p>Buy from our amazing sweet suggestions</p>
        <p>OR</p>-->
        <p>Share with us your favorite recipe</p>
        <!-- <div>
            <button class="dashboard">all categories</button>
        </div> -->

    </div>
    <div class="welcome">
        <h1>Welcome to our site!</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor, quas hic itaque natus aliquam nihil
            labore ullam minima perspiciatis consequatur eum assumenda, quia exercitationem eius est! Neque odio
            voluptatem rem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores facere iusto
            dignissimos nulla odit hic atque numquam rem sed, alias necessitatibus soluta, iure unde voluptatem
            quia nostrum quaerat, minus quasi!</p>
        <div>
            <button class="dashboard">all categories</button>
        </div>
    </div>
</section>
