<section id="comments-page">
    <div class="details-comments">
        <h2>Comments:</h2>
        <ul class="comments-all">
            <li class="comment">
                <p><span>Merry:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nulla
                    voluptates.</p>
            </li>
            <li class="comment">
                <p><span>Jone:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nulla
                    voluptates.</p>
            </li>
        </ul>
        <p class="no-comment">No comments.</p>
    </div>

    <div class="create-comment">
        <article>
            <label>Add new comment:</label>
            <form class="form" method="POST">

                <textarea name="comment" placeholder="Comment......"></textarea>
                <p class="form-error">Error comment</p>

                <input class="action" type="submit" value="Add Comment" />
            </form>
        </article>
    </div>
</section>
